<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
<div class="center-container">
  <div id="app"></div>
  
  </div>
<% if (typeof errorMessage !== 'undefined') { %>
  <div class="center-container"><p><%= errorMessage %></p></div>
  <% } %>
  <script src="/bundle.js"></script>
</body>

</html>